h2,img{
    view-timeline-name: --reveal;
    animation-name: show-scroll;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 55% cover 50%;
}
@keyframes show-scroll {
    0%{
        opacity: 0;
        scale: 10%;
    }
    100%{
        opacity: 1;
        scale: 100%;
    }
}