.comentarios {
    margin-top: 16px;
}

.container-coment{
    width: 70%;
    height: 34vh;
    background-color: #00000050;
    border-radius: 18px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    overflow-x: auto;
    padding: 5px 12px;
    margin: 10px 0px;
}
.comentario{
    width: 450px;
    background-color: rgb(45, 46, 46);
    border-radius: 5px;
    height: 200px;
    contain: content;
    flex: 0 0 auto;               
    border-radius: 5px;
    box-sizing: border-box;       
    white-space: normal;          
    overflow-wrap: break-word;
}
.user-name{
    font-size: 1.7rem;
    background-color: #15181d;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 15px;
    text-shadow: #3a59b6 0 0 5px;
}
.user-comentario{
    width: 95%;
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
    height: 100%;
    text-shadow: #fff 0 0 3px;
}

/* Personalización del scroll */
html::-webkit-scrollbar{
    width: 4px;
    background-color: transparent;

}
html::-webkit-scrollbar-thumb{
    background-color: #555;
    border-radius: 5px;

}
html::-webkit-scrollbar-thumb:hover{
    background-color: #3a59b6;
    box-shadow: #fff 0 0 1px;
}
.container-coment::-webkit-scrollbar {
    height: 4px;                 
    background-color: transparent;  
}

.container-coment::-webkit-scrollbar-thumb {
    background-color: #555;       
    border-radius: 5px;           
}

.container-coment::-webkit-scrollbar-thumb:hover {
    background-color: #3a59b6;        
}