#html-sub{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.h2-dcontainer {
    margin-bottom: 24px;
}

.img-cap{
    width: 50vw;
    border-radius: 5px;
    box-shadow: 0 0 12px #0301009c;
} 
.tag-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 25px;
}
.nav-tag{
    display: grid;
    grid-template-columns: repeat(8,4fr);
    gap: 2rem;
    place-items: center;
}
.btn-redounded{
    border-radius:15px;
    padding: 6px 12px;
    cursor: pointer;
}
.btn-bg-blue{
    background-color: #5dc4ec;
}
.bi-info-circle-fill{
    color: #444;
    position: relative;
}
.btn-redounded:hover > .bi-info-circle-fill{
    color: #05455f;
    opacity: 1;
}
.bi-info-circle-fill::after {
    position: absolute;
    content: "Comandos";
    left: 3rem;
    background-color: #fff;
    padding: 2px;
    border-radius: 2px;
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 300ms ease-in-out; /* Transición para la opacidad */
}
.bi-info-circle-fill:hover.bi-info-circle-fill::after {
    animation: floatOpacity 1s ease-in-out;
    opacity: 1;
}

button{
    border: none;
    outline: none;
    font-size: 1.3rem;
    color: white;
    transition: all 300ms ease-in-out;
}
button:hover{
    box-shadow: 0 0 15px #08cfd2;
    color: #05455f;
}

@media only screen and (max-width:400px){
    #html-sub>img {
        align-items: center;
        width: 100%;
        border-radius: 0;
        box-shadow: none;
    }
}

@media only screen and (max-width: 1000px) {
    .img-cap{
        width: 90vw;
        border-radius: 5px;
    } 
    .descriptionContainer{
      width: 100%;
    }
}
@keyframes floatOpacity {
    0%{
        top: 1.5rem;
        opacity: 0;
    }
    100%{
        top: 0;
        opacity: 1;
    }
}