* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  user-select: none;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #1e1f23, #2a2e35);
  color: #fff;
  scroll-behavior: smooth;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}  

/* Header */
header {
  width: 100%;
  background-color: #2a2e35;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
}
#headerBody{
  z-index: 21;
}
#menUser{
  padding: 10px 15px;
  position: absolute;
  width: fit-content;
  height: fit-content;
  top: -10%;
  left: 89%;
  background-color: #698ca4;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 20;
  transition: all 300ms ease-in-out;
}
#menUser a{
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  padding: 2px 5px;
  display: block;
  transition: all 300ms ease-in-out;
}
#menUser a:hover{
  background-color: #27353e;
}

.h1 {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

.navbar {
  display: flex;
  gap: 20px;
}

.ancoresNav {
  text-decoration: none;
  color: #ececec;
  font-size: 18px;
  padding: 8px 12px;
  border-radius: 6px;
  transition: 0.3s ease-in-out;
}

.ancoresNav:hover {
  background-color: #999999;
  color: #131313;
}
.a-select{
  background-color: #999999;
  color: #131313;
}

.menu-toggle {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
.dis-flex{
  display: flex;
}
.justify-center{
  justify-content: center;
}
.gp-15{
  gap: 15px;
}

/*MAIN*/

.descriptionContainer{
  width: 60vw;
  height: fit-content;
  margin-top: 60px;
  display: grid;
  justify-items: center;
  margin-bottom: 60px;
}

.descriptionContainerGit {
  width: 60vw;
  margin-top: 25px;
}

.sub {
  margin-bottom: 34px;
  text-align: center;
}

.p-description {
  text-align: start;
  background: #ccccccaa;
  padding: 10px 12px;
  border-radius: 4px;
  color: #e3e3e3;
  position: relative;
  margin: 20px;
  font-size: 20px;
  max-width: 612px;
}

.imgdescription {
  height: 20px;
  width: 20px;
}

.text {
  font-size: 24px;
}

.selector{
    margin-bottom:25px ;
}

.gtext{
  padding: 10px 4px;
  font-size: 20px;
  margin-top: 26px;
}

.p-description::before {
  content: " ";
  position: absolute;
  height: 100%;
  width: 5px;
  background-color: lightblue;
  top: 0;
  left: 0;
  border-radius: 4px;
}

.p-description.violet {
  color: #4e0c4e;
}

.p-description.violet::before {
  content: " ";
  position: absolute;
  height: 100%;
  width: 5px;
  background-color: violet;
  top: 0;
  left: 0;
  border-radius: 4px;
}

.img-sub{
  height: 30px;
  width: auto;
  position: relative;
  top: 10px;
  margin: 5px;
}

/*Footer*/

footer{
    position:fixed;
    top: 87%;
}

.pFooter{
    display: flex;
    gap: 45px;
}

.nameAuthors{
    color: #fff;
    text-shadow: 1px 1px 5px #459bf1;
}


/*  =======================================
            diseños Botones generales
    ======================================= */
  .btn-add{
    background-color: #5ed06f;
    border-radius: 8px;
    display: flex;
    align-items: center;
    color: white;
    padding: 5px 10px;
    border: none;
    font-size: 1.5rem;
    gap: 5px;
  }
  .btn-add:hover{
    cursor: pointer;
    box-shadow: #ffffff50 0 0 15px;
  }

/*  =======================================
            diseños especiales
    ======================================= */
.code{
    background-color: #03030375;
    color: #fff;
    padding: 2px 4px;
    border-radius: 4px;
    font-weight: 900;
}
.title-btn{
  display: flex;
  width: 100%;
  padding: 5px 25px;
  align-items: center;
  justify-content: center;
}
.oculto{
    display: none;
}
.embedded-object{
  width: 100%;
  height: 86%;
  margin-bottom: 0;
  box-sizing: border-box;
  overflow: hidden;
}
.btn-group{
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: flex-end;
}
.btn-success{
  background-color: #5ed06f;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 34px;
}
.btn-success:hover{
  cursor: pointer;
  background-color: #71fc86
}
.container-object{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.visible-flex{
    display: flex;
}
.working-section{
  text-align: center;
    font-size: 1.2rem;
    text-shadow: #a3d1ff 0 0 5px;
}

.bi-sub{
    font-size: 5rem;
    color: #333;
    transition: all 200ms linear;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.icon{
  font-size: 1.5rem;
  color: #fff;
}


.animation-rotate{
    display: inline-block;
    animation: rotate 4s linear infinite;
}

.animation-rotate[data-index="2"]{
  color: #fff;
  position: relative;
  top: 2rem;
  right: 1rem;
  transform: rotate(38deg);
  animation: rotate 4s linear infinite reverse;

}
#user-letter{
  color: #fff;
  font-size: 1.3rem;
  background-color: #459bf1;
  border-radius: 50%;
  padding: 10px 14px;
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
      text-shadow: #459bf1 0 0 5px;
  }
  100% {
    transform: rotate(360deg);
    text-shadow: #fff 0 0 5px;
  }
    
}
/*  =======================================
       Botones especiales
    ======================================= */

.btn-copy{
    background-color: #333;
    padding: 5px 5px;
    border-radius: 3px;
    width: 32px;
    transition: all .5s ease-in;
    interpolate-size: allow-keywords;
    border: none;
    color: #fff;
}
.head-pre{
  width: 98%;
  display: flex;
  contain: content;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  left: 0;
}

.btn-copy::before{
    display: none;
    content: "Copiar código al portapapeles";
    margin-right: 5px;
}

.btn-copy:hover{
    cursor: pointer;
    box-shadow: none;
    color: #a3d1ff;
    width: auto;
}

.btn-copy:hover.btn-copy::before{
    display: inline;
} 

/*  =======================================
        Media Query width viewport <= 750px
    ======================================= */

@media (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%; /* Oculto fuera de la pantalla sin afectar el tamaño de la página */
    width: 60%;
    height: 100vh;
    background-color: #1a1a1a;
    text-align: center;
    padding: 20px;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.5);
    z-index: 2;
    
    transition: right 0.4s ease-in-out; /* Animación */
  }

  .navbar.active {
    right: 0; /* Se desliza desde la derecha */
  }

  .menu-toggle {
    display: block;
    font-size: 28px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 11;
  }
}

