*{
    margin: 0;
    padding: 0;
    font-family: monospace;
    text-align: center;
    user-select: none;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #131313;
  color: white;
}
a {
  text-decoration: none;
  color: #459bf1;
  margin: 15px;
}
a.a-select {
  font-weight: 900;
  color: #125293;
}
a:hover {
  color: #a3d1ff;
}
.wlink {
  color: #921892;
}
.navbar {
  padding: auto;
  margin-top: 32px;
  font-size: 18px;
}
.h1 {
  margin-top: 100px;
}
<<<<<<< HEAD
.descriptionContainer > h2{
    margin-bottom: 15px;
}
.descriptionContainer{
    width: 60vw;
    height: fit-content;
    margin-top: 60px;
=======
.descriptionContainer {
  width: 60vw;
  margin-top: 90px;
>>>>>>> ivan
}
.descriptionContainerGit {
  width: 60vw;
  margin-top: 25px;
}
.descriptionContainerGitLab {
  width: 60vw;
  margin-top: 45px;
}
.sub {
  margin-bottom: 34px;
}
.p-description {
  text-align: justify;
  background: #ccccccaa;
  padding: 10px 12px;
  border-radius: 4px;
  color: green;
  position: relative;
  margin: 20px;
  font-size: 20px;
}
.imgdescription {
  height: 20px;
  width: 20px;
}
.text {
  font-size: 24px;
}
<<<<<<< HEAD
.selector{
    margin-bottom:25px ;
}
.gtext{
    font-size: 20px;
    margin-top: 64px;
=======
.gtext {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 64px;
>>>>>>> ivan
}
.selector{
  margin: 20px;
}
.marginBottom{
  margin-bottom: 32px;
}
.p-description::before {
  content: " ";
  position: absolute;
  height: 100%;
  width: 5px;
  background-color: green;
  top: 0;
  left: 0;
  border-radius: 4px;
}
.p-description.violet {
  color: #4e0c4e;
}
.p-description.violet::before {
  content: " ";
  position: absolute;
  height: 100%;
  width: 5px;
  background-color: violet;
  top: 0;
  left: 0;
  border-radius: 4px;
}
.img-sub{
    height: 30px;
    width: auto;
    position: relative;
    top: 10px;
    margin: 5px;
}

.footer{
    display: grid;
    margin-top: 85%;
    align-items: center;
    justify-items: center;
}
.pFooter{
    display: flex;
    gap: 45px;
}
.nameAuthors{
    color: #fff;
    text-shadow: 1px 1px 5px #459bf1;
}
.gtext{
    padding: 10px 4px;
}
/*  =======================================
            diseños especiales
    ======================================= */
.code{
    background-color: #03030375;
    color: #fff;
    padding: 2px 4px;
    border-radius: 4px;
    font-weight: 900;
}
.oculto{
    display: none;
}
.visible-flex{
    display: flex;
}

/*  =======================================
        Media Query width viewport <= 750px
    ======================================= */
@media only screen and (min-width:751px) and (max-width:1024px) {
    .img-gitlab-container{
        display: flex;
        align-items: end;
        justify-content: center;
        margin: 5px;
    }
    .img-gitlab{
        width: 90%;
    }
}

@media only screen and (max-width:750px) and (min-width:551px) {
    footer{
        position:initial;
        padding: 15px 7px;
    }
    .p-description{
        width: 90%;
    }
    .descriptionContainer{
        width: 100%;
    }

    /*  ====================
            git lab
        ==================== */
    
    .img-gitlab{
        width: 90%;
    }
    .descriptionContainerGitLab{
        width: 100%;
    }
    .img-gitlab-container{
        display: flex;
        align-items: end;
        justify-content: center;
        margin: 5px;
    }
}

@media only screen and (max-width:550px){
    .p-description{
        width: 80%;
    }
        /*  ====================
            git lab
        ==================== */
    .descriptionContainerGitLab{
        width: 100%;
    }
    
    .img-gitlab{
        width: 80%;
    }
}