:root{
    --color-yellow:#e2ef34;
    --color-bg-black:rgba(0,0,0,0.2);
    --shadow-white-transparent:rgba(200,200,200,0.2);
}
#main{
    display: flex;
    width: 98%;
    gap: 20px;
    padding-bottom: 20px;
}
body::-webkit-scrollbar{
    width: 5px;
    background-color: #88888850;
}
body::-webkit-scrollbar-thumb{
    background-color: #e2ef34;
    border-radius: 4px;
    transition: all 300ms ease-in-out;
}


/*  =======================
        Navegador Lateral
    ======================= */
#nav-lat{
    width: 20%;
    background-color: rgba(1, 1, 1, 0.5);
    padding: 15px 10px;

    height: fit-content;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: var(--shadow-white-transparent) 0 0 5px;
}
.main-section.visible{
    display:flex;
}
.title-page{
    margin: 25px;
}
.item-group{
    font-size: 1.4rem;
    width: 100%;
    position: relative;
    left: -24px;
    contain: content;
    color: #000000;
    text-align: center;
    padding:5px 0;
    padding-left: 25px;
    height: fit-content;
    list-style-type:none;
    transition: all 200ms ease-in-out;
    interpolate-size: allow-keywords;
}
.title-group{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 4px;
    background-color: var(--color-yellow);
}
.sub-items{
    list-style-type:none;
    display: none;
    transition: all 500ms linear;
    interpolate-size: allow-keywords;
}
.title-group:hover{
    cursor: pointer;
}
.item-group > .sub-items{
    transition: all 500ms ease-in-out;
    interpolate-size: allow-keywords;
    height: 0;
    display: none;
}
.item-group.select > .sub-items{
    display: inline;
    height: fit-content;
}
.icon-arrow{
    font-size: 1.8rem;
    transition: all 250ms ease-in-out;
}
.item-group.select > .title-group>.icon-arrow{
    transform: rotate(180deg);
}
.nav-item{
    font-size: 1.4rem;
    width: 92%;
    text-align: center;
    padding:5px 0;
    padding-left: 25px;
    text-align: left;
    color: white;
    list-style-type:none;
    background-color: rgba(240, 240, 240, 0.09);
}
.nav-item:hover{
    background-color: var(--shadow-white-transparent);
    cursor: pointer;
}
.content{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg-black);
    border-radius: 5px;
    box-shadow: var(--shadow-white-transparent) 0 0 1px;
    padding-bottom: 20px;
}
/*  =========================
        Estilo del contenido
    =========================   */
.main-section{
    width: 96%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    display: none;
    margin-bottom: 2rem;
}
.title-section{
    width: 100%;
    background-color: var(--color-yellow);
    padding: 10px 0;
    font-size: 2.5rem;
    color: #000000;
    font-family: Arial;
    font-weight: 900;
    border-radius: 5px;
    border: 1px solid #ffffff90;
    box-shadow: #e2ef34 0 0 5px;
    -webkit-text-stroke: 1px #ffffff;
    margin: 20px ;
    text-align: center;
}
.p-text{
    width: 90%;
    text-align: justify;
    font-family: consolas;
    font-size: 1.4rem;
    word-spacing: 2px;
    line-height: 2rem;
}
.list-tittle{
    width: 100%;
    text-align: left;
    font-size: 1.8rem;
    text-shadow: var(--color-yellow) 1px 1px 15px;
    color: var(--color-yellow);
    background-color: var(--shadow-white-transparent);
    padding: 4px;
    border-radius: 5px;
    margin: 9px;
}
ul{
    width: 100%;
    text-align: left;
    list-style:circle;
    padding: 7px 12px;
}
li{
    font-size: 1.3rem;
    margin: 10px 0;
}
strong{
    text-shadow: #fff 1px 1px 15px;
}
.yellow{
    color: var(--color-yellow);
}
strong.yellow{
    text-shadow: var(--color-yellow) 1px 1px 15px;
}
.up{
    padding: 4px 6px;
    font-size: 3rem;
    border-radius: 50%;
    border: 3px solid transparent;
    background-color: #e2ef34;
    transition: all 200ms ease-in-out;
    position: fixed;
    left: 2rem;
    bottom: 2rem;
    animation: upOpacity 1s linear;
}
.up:hover{
    border: 3px solid #000;
    box-shadow:inset #d2d2d2 1px 2px 4px;
    text-shadow: #444 1px 1px 4px;
    cursor: pointer;
    animation: moveUp 1s linear;
    display: none;
}
.js-primary{
    color: #d353ca;
}
.js-secondary{
    color: #576fad;
}
.js-br{
    color: #a548b4;
}
.js-let{
    color: #e9bc6a;
}
.js-text{
    color: #76c376;
}
.js-const{
    color: yellow;
}
.js-number{
    color: #ad8c4e;
}
.js-function{
    color: #52a6d0;
}
@keyframes upOpacity {
    0%{
        bottom: 1rem;
        opacity: 0.1;
    }
    50%{
        opacity: 1;
        bottom: 2rem;
        scale: 0.9;
    }
    75%{
        scale: 1.25;
    }
    100%{
        scale: 1;
    }
}
@keyframes moveUp {
    0%{
        bottom: 2rem;
    }
    50%{
        bottom: 1rem;
    }
    100%{
        bottom: 4rem;
    }
}