body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #1e1f23, #2a2e35);
    color: #fff;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#h2-title {
    text-align: center;
    color: #42a0c5;
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.form-container {
    height: 512px;
    width: 412px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 24px 10px;
    border-radius: 10px;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    align-items: center;
    justify-content: center;
    align-content: center;
}
input {
    margin-top: 6px;
    width: 260px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #465967;
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    outline: none;
    font-size: 1.2rem;
}
input:focus {
    border: 1px solid #42a0c5;
}
label {
    color: #fff;
    font-size: 1.5rem;
    margin-top: 10px;
}

#login {
    display: grid;
}
#login div {
    margin: 5px;
}
#login label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    gap: 5px;
}
#login form {
    display: grid;
    place-items: center;
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
}
#btn-login {
    width: 260px;
    height: 44px;
    border-radius: 5px;
    border: none;
    background-color: #465967;
    color: #fff;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    margin-top: 20px;
}
#btn-login:hover {
    background-color: #42a0c5;
}
#p-registrar {
    font-size: 16px;
    text-align: center;
    margin-top: 42px;
    color: #fff;
}

#p-registrar a {
    color: #42a0c5;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

#p-registrar a:hover {
    color: #88ddff;
    text-decoration: underline;
}

#btn-registrar {
    width: 120px;
    background-color: transparent;
    border: none;
    color: #42a0c5;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    outline: none;
    font-size: 14px;
}
#btn-registrar:hover {
    color: #9be3ff;
    text-decoration: underline;
    border-radius: 5px;
    background-color: transparent;
}
