#fillScreen{
    width: 100vw;
    height: 100%;
    background-color: #17171745;
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
}
.modal{
    z-index: 11;
    position: fixed;
    top: 8vh;
    left: 17vw;
    width: 65vw;
    height: 80%;
    background: #fff;
    border-radius: 15px;
    box-shadow: 1px 1px 12px #ffffff50,inset 1px 1px 8px #12121245,inset -1px -1px 8px #12121245;
    padding: 5px 10px;
    display: none;
    contain: content;
    scroll-behavior: smooth;
    border: 5px solid transparent;
}
.modal-exit{
    color: #459bf1;
    font-size: 1.3rem;
    font-weight: 800;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: transparent;
    padding: 5px 7px;
    border-radius: 50%;

}
.modal-exit:hover{
    border: none;
    text-shadow: 0 0 5px #459bf1;
    box-shadow: none;
    cursor: pointer;
}
.modal-content{
    width: 100%;
    height: 95%;
    overflow: auto;
}
.modal-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #459bf1;
    border-bottom: 3px solid #c3c3c3;
    width: 100%;
}
/*  =========================
        tag container
    =========================  */
.tag-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.tag-info{
    padding: 10px 7px;
    border-radius: 5px;
    transition: all 300ms ease-in-out;
}
.tag-info > h2{
    transition: all 300ms ease-in-out;
}
.tag-info > p{
    transition: all 300ms ease-in-out;
    display: none;
}
.tag-info:hover > h2{
    cursor: pointer;
    color: #459bf1;
}