#fillScreen{
    width: 100vw;
    height: 100%;
    background-color: #17171745;
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
}
.modal{
    z-index: 11;
    position: fixed;
    top: 8vh;
    left: 17vw;
    width: 70vw;
    height: 80%;
    background: #363636;
    border-radius: 15px;
    box-shadow: 1px 1px 12px #ffffff50,inset 1px 1px 8px #12121245,inset -1px -1px 8px #12121245;
    padding: 0 0;
    display: none;
    contain: content;
    scroll-behavior: smooth;
    border: 5px solid transparent;
    transition: all 200ms ease-in-out;
    interpolate-size: allow-keywords;
    animation: pop .5s ease-in-out;
}
.modal-exit{
    font-weight: 800;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: transparent;
    padding: 5px 7px;
    border-radius: 50%;

}

.anclamargin {
    margin: 0;
    padding: 0;
}

.modal-close {
    position: relative;
    top: 4px;
    height: 28px;
    margin: 4px 8px;
}

.modal-exit:hover{
    border: none;
    text-shadow: 0 0 5px #459bf1;
    box-shadow: none;
    cursor: pointer;
}
.modal-content{
    height: 95%;
    overflow: auto;
    padding: 20px;
    padding-bottom: 0;
}
.modal-content::-webkit-scrollbar{
    width: 4px;
    background-color: transparent;
}
.modal-content::-webkit-scrollbar-thumb{
    background-color: #888888;
    border-radius: 2px;
}
.modal-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #dfdfdf;
    border-bottom: 3px solid #c3c3c3;
    padding: 0 12px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    width: 100%;
}
/*  =========================
        tag container
    =========================  */
.tag-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.tag-info{
    padding: 10px 7px;
    border-radius: 5px;
    transition: all 300ms ease-in-out;
    position: relative;
}
.tag-info::before{
    content: "<";
    position: absolute;
    left: -2rem;
    top: 50%;
    transform: translate(50%,-50%);
    font-size: 2rem;
    font-weight: 900;
    opacity: 0;
}
.tag-info::after{
    content: ">";
    position: absolute;
    top: 50%;
    transform: translate(50%,-50%);
    right: -0.8rem;
    font-size: 2rem;
    font-weight: 900;
    opacity: 0;
}
.tag-info:hover.tag-info::before{
    opacity: 1;
}
.tag-info:hover.tag-info::after{
    opacity: 1;
}
.tag-info.select{
    background-color: #fff;
    color: #336733;
}
.tag-info > h2{
    transition: all 300ms ease-in-out;
}
.tag-info > .tag-info-content{
    transition: all 300ms ease-in-out;
    display: none;
}
.tag-info:hover > h2{
    cursor: pointer;
    color: #459bf1;
}
.content-tag-info{
    width: 100%;
    display: flex;
    height: fit-content;
    color: white;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 2px 10px;
    gap: 10px;
}

pre{
    display: inline-block;
    background-color: #333;
    border-radius: 5px;
    contain: content;
    margin: 20px;
    overflow: auto;
}

pre::-webkit-scrollbar{
    width: 8px;
    height: 9px;
}

/* Fondo de la barra de desplazamiento */
pre::-webkit-scrollbar-track {
    background: #252525;
    border-radius: 10px;
}
  
/* Estilo de la parte movil de la barra */
pre::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #ff8c00, #ff2e63);
    border-radius: 10px;
    transition: 0.3s;
}
  
/* Efecto al pasar el mouse sobre la barra */
pre::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #ff6a00, #ff1e43);
    box-shadow: 0px 0px 5px rgba(255, 140, 0, 0.8);
}

pre > h3{
    color: white;
    width: 100%;
    padding: 7px 10px;
    text-align: left;
    background-color: #444;
}
code{
    font-family: 'Cascadia Code',Consolas, 'Courier New', monospace;
    font-size: 1.5rem;
    align-items: start;
    text-align: left;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 5px 15px;
    user-select: all;
    white-space:pre;
}
code > .comment{
    margin-left: 20px;
}

code > .comment2{
    margin-left: 0px;
}

code > .comment{
    margin-left: 10px;
}
.token.tag{
    color: #ff5656;
}
.token.comment{
    text-indent: 2em;
    color: #336733;
}

.token.comment2{
    color: #336733;
}

.token.comment3{
    color: #336733;
    padding-left: 120px;
}

.token.comment4{
    color: #336733;
    padding-left: 40px;
}

.token.doctype{
    color: #d2d2d250;
}
.token.punctuation{
    color: #fff;
}
.attr-name{
    color: orange;
}
.attr-value{
    color: green;
}

.attr-value2{
    color: green;
    padding-left: 120px;
}
.attr-equals{
    color: #d5d5d570;
}
.tag-head,.tag-body{
    text-indent: 2em;
}

.tag-head2{
    text-indent: 2em;
    padding-left: 35px;
}

.tag-head3{
    text-indent: 2em;
    padding-left: 100px;
}

.tag-head4{
    text-indent: 2em;
    padding-left: 35px;
}

.onclick-button{
    color: orange;
}

.function-name{
    color: rgb(73, 141, 243);
    font-weight: bold;
}

.function-tag{
    color: rgb(209, 73, 243);
    padding-left: 60px;
}

.function-comp{
    color: rgb(0, 195, 255);
    padding-left: 80px;
}

.h1-size { font-size: 32px; }  /* Encabezado más grande */
.h2-size { font-size: 24px; }
.h3-size { font-size: 20px; }
.h4-size { font-size: 16px; }  /* Igual al tamaño estándar del texto */
.h5-size { font-size: 14px; }
.h6-size { font-size: 12px; }  /* Encabezado más pequeño */


.tag-p{
    padding-left: 100px;
}

@keyframes pop {
    0%{
        scale: 0.5;
    }
    100%{
        scale: 1;
    }
}