<style>
    *{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    html{
        overflow: hidden;
    }
    div{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px 10px;
    }
    input{
        font-size: 1.5rem;
        border: 2px solid #d4d4d4;
        padding: 4px 7px;
        border-radius: 5px;
        transition: all 200ms ease-in-out;
        color: #888;
    }
    input:focus{
        border: 2px solid #42a0c5;
        box-shadow: #42a0c5 0 0 5px;
        outline: none;
    }
    input::placeholder{
        color: #42a0c5;
        font-weight: 500;
    }
    form{
        width: fit-content;
        height: auto;
        display: flex;
        flex-direction: column;
        box-shadow: #555 0 0 3px;
        gap: 10px;
        padding: 10px 10px;
        border-radius: 5px;
    }
    h2{
        color: #42a0c5;
    }
    input[type="submit"]{
        background-color: rgb(102, 197, 79);
        border-radius: 5px;
        border: none;
        font-weight: 700;
        color: #fff;
        padding: 5px 10px;
        transition: all 200ms ease-in-out;
    }
    input[type="submit"]:hover{
        cursor: pointer;
    }
</style>
<link rel="stylesheet" href="sweetalert2.min.css">
<div >
    <h2>Iniciar Sesión</h2>
    <form id="formulario-login" method="post">
        <input type="text" placeholder="nombre de usuario" id="usuario">
        <input type="password" placeholder="contraseña" id="password">
        <input type="submit" value="Registrar" class="btn-add">
    </form>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        document.getElementById('loginForm').addEventListener('submit', function(event) {
    event.preventDefault();

    const usuario = document.getElementById('usuario').value;
    const password = document.getElementById('password').value;

    fetch('/login', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ usuario, password })
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Error en la autenticación');
        }
        return response.json();
    })
    .then(data => {
        console.log('Inicio de sesión exitoso:', data);
        formulario.reset();
                Swal.fire({
                position: "top-end",
                icon: "success",
                title: "Inicio Exitoso",
                text: "Iniciando Sessión",
                showConfirmButton: false,
                timer: 1500
                });
    })
    .catch(error => {
        console.error('Error:', error);
    });
});

    </script>
</div>

