<style>
    *{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    html{
        overflow: hidden;
    }
    div{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px 10px;
    }
    h2{
        color: #42a0c5;
    }
    textarea{
        width: 100%;
        height: 15vh;
        border: 2px solid #888;
        border-radius: 5px;
        padding: 5px;
        font-size: 1.5rem;
        resize: none;
        outline: none;
        form-sizing:content;
    }
    textarea::-webkit-scrollbar-thumb{
        background-color: #444;
        border-radius: 5px;
    }
    textarea::-webkit-scrollbar{
        width: 4px;
        background-color: #d3d3d3;
        border-radius: 2px;
    }
    textarea:focus{
        border: 2px solid #42a0c5;
        box-shadow: #42a0c5 0 0 5px ;
    }
    form{
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: column;
        box-shadow: #555 0 0 3px;
        gap: 10px;
        padding: 10px 10px;
        border-radius: 5px;
    }
    input[type="submit"]{
        width: 100%;
        background-color: rgb(102, 197, 79);
        border-radius: 5px;
        border: none;
        font-weight: 700;
        color: #fff;
        padding: 5px 10px;
        transition: all 200ms ease-in-out;
    }
    input[type="submit"]:hover{
        cursor: pointer;
    }
</style>
<div >
    <h2>Nuevo Comentario</h2>
    <form id="formulario-coment">
        <textarea name="text" id="comentario" placeholder="Mensaje..."></textarea>
        <input type="submit" value="Enviar Comentario">
    </form>
    <script>
        let sessionActive = false;
        
        document.getElementById('formulario-coment').addEventListener('submit', function(event) {
        event.preventDefault();
    
        const coment = document.getElementById('comentario').value;
        console.log(coment)
            if(sessionActive){
                const datos = {
                    id:0,
                    usuario: nombre,
                    comentario: coment,
                    usuario_id: 3,
                };
            }
        const datos = {
            id:0,
            usuario: user,
            comentario: coment,
            nombre: name,
            rol:"user"
        };
    
        fetch('https://app-8edf8cb5-03b9-4aaa-b441-2dc3b88977d1.cleverapps.io/api/coment', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(datos)
        })
        .then(response => response.json())
        .then(data => {
            console.log('Respuesta de la API:', data);
            if (data.exito) {
                alert('Registro exitoso');
            } else {
                alert('Error en el registro');
            }
        })
        .catch(error => {
            console.error('Error en el envío de datos:', error);
        });
    });
    </script>
</div>

