<style>
    *{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    html{
        overflow: hidden;
    }
    div{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px 10px;
    }
    h2{
        color: #42a0c5;
    }
    textarea{
        width: 100%;
        height: 15vh;
        border: 2px solid #888;
        border-radius: 5px;
        padding: 5px;
        font-size: 1.5rem;
        resize: none;
        outline: none;
        form-sizing:content;
    }
    textarea::-webkit-scrollbar-thumb{
        background-color: #444;
        border-radius: 5px;
    }
    textarea::-webkit-scrollbar{
        width: 4px;
        background-color: #d3d3d3;
        border-radius: 2px;
    }
    textarea:focus{
        border: 2px solid #42a0c5;
        box-shadow: #42a0c5 0 0 5px ;
    }
    form{
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: column;
        box-shadow: #555 0 0 3px;
        gap: 10px;
        padding: 10px 10px;
        border-radius: 5px;
    }
    input[type="submit"]{
        width: 100%;
        background-color: rgb(102, 197, 79);
        border-radius: 5px;
        border: none;
        font-weight: 700;
        color: #fff;
        padding: 5px 10px;
        transition: all 200ms ease-in-out;
    }
    input[type="submit"]:hover{
        cursor: pointer;
    }
    input{
        width: 80%;
        height: fit-content;
        border: #888 2px solid;
        border-radius: 5px;
        font-size: 1.5rem;
    }
</style>
<link rel="stylesheet" href="sweetalert2.min.css">
<div >
    <h2>Nuevo Comentario</h2>
    <form id="formulario-coment">
        <input type="text" name="name" id="username" placeholder="Nombre" required>
        <textarea name="text" id="comentario" placeholder="Mensaje..." required></textarea>
        <input type="submit" value="Enviar Comentario">
    </form>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
       const formulario =document.getElementById('formulario-coment');

        formulario.addEventListener('submit', function(event) {
        event.preventDefault();
        const coment = document.getElementById('comentario').value;
        const username = document.getElementById('username').value;
        console.log(coment)
            if((coment == "" || coment == undefined || coment == null || coment == " ") || (username == "" || username == undefined || username == null || username == " ")){
                console.log("No hay datos para enviar, por ende no se pudo completar el envio");
                Swal.fire({
                position: "top-end",
                icon: "error",
                title: "Error al enviar comentario",
                text: "alguno de los campos se encuentra vacio, es necesario rellenarlos para poder llevar a cabo el envio del comentario",
                showConfirmButton: false,
                timer: 2500
                });
                return;
            }
        const datos = {
            id:0,
            usuario: username,
            comentario: coment,
        };
    
        fetch('https://app-07f9025b-6a13-4685-a1e7-d30222c7d740.cleverapps.io/api/coment', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(datos)
        })
        .then(response => response.json())
        .then(data => {
            console.log('Respuesta de la API:', data);
            if (data.ok) {
                Swal.fire({
                position: "top-end",
                icon: "success",
                title: "Enviado",
                text: "Su comentario ha sido enviado exitosamente"|| data.mensaje,
                showConfirmButton: false,
                timer: 2500
                });
                formulario.reset();
            } else {
                Swal.fire({
                position: "top-end",
                icon: "error",
                title: "Error",
                text: "Ha ocurrido un error" || data.mensaje,
                showConfirmButton: false,
                timer: 1500
                });
            }
        })
        .catch(error => {
            console.error('Error en el envío de datos:', error);
        });
    });
    </script>
</div>

